PORT=4000
MONGODB_URI=mongodb+srv://nawaz311412:chinarShop@cluster0.z8qfv.mongodb.net/chinarShop?authSource=admin&retryWrites=true&w=majority
JWT_SECRET=secret_ecom
NODE_ENV=development
BASE_URL=http://localhost:4000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
