.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    border: 3px solid;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

@media(max-width:1280px){
    .popular h1{
        font-size: 40px;
    }
}

@media(max-width:1024px){
    .popular h1{
        font-size: 20px;
    }
    .popular hr{
        width: 120px;
        border: 1px solid;
    }
    .popular-item{
        gap: 15px;
        margin-top: 20px;
        padding: 0 15px;
    }
}

@media(max-width:800px){
    .popular{
        gap: 6px;
    }
    
    .popular hr{
        width: 100px;
    }
    .popular-item{
        gap: 10px;
        padding: 0 10px;
    }
}

@media(max-width:600px){
    .popular hr{
        width: 100px;
    }
    .popular-item{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 15px;
        padding: 0 10px;
        justify-items: center;
    }
}

@media(max-width:480px){
    .popular hr{
        width: 80px;
    }
    .popular-item{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 10px;
        padding: 0 5px;
        justify-items: center;
    }
}

